body {
  text-align: center;
}

h1 {
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 900px;
  margin: 40px auto;
  padding-bottom: 20px;;
}

.rock, .paper, .scissors, .reset {
  border: 1px solid black;
  border-radius: 12px;
  padding: 10px;
  background: white;
  cursor: pointer;
}

.rock img, .paper img, .scissors img, .reset img{
  width: 150px;
  height: 150px;
}