* {
  padding: 0;
  margin: 0;
}

h1{
  margin: 5vmin;
  text-align: center;
}

body {
  text-align: center;
  background-color: #FF7518;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  height: 70vmin;
  width: 70vmin;
  display: flex;
  padding: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;
}

.container {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 2vmin;
  border: none;
  cursor: pointer;
  font-size: 8vmin;
  background-color: yellow;
}

#reset {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: gold;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.msg-container{
  padding: 3px;
  margin: 3px;
}

#new-game{
  padding: 1rem;
  font-size: 1.25rem;
  background-color: gold;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

#msg{
  color: white;
  font-size: 50px;
  text-align: center;
}

.hide {
  display: none;
}

.O {
  color: red;
}

.X {
  color: chartreuse;
}