h1 {
  text-align: center;
}

.head_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.head-starters, .head-mainCourse, .head-drinks, .head-deserts {
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
  width: 100px;
  margin: 5px;
  padding: 5px;
}

.head-starters {
  background-color: chartreuse;
}

.head-mainCourse {
  background-color: coral;
}

.head-drinks {
  background-color: lightcoral;
}

.head-deserts {
  background-color: aquamarine;
}

.starter_container, .mainCourse_container, .drinks_container, .deserts_container {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.starters, .mainCourse, .drinks, .deserts{
  border: 1px solid black;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  background-color: cornsilk;
  cursor: pointer;
}

.starter_container, .mainCourse_container, .drinks_container, .deserts_container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.starter-item, .mainCourse-item, .drinks-item, .deserts-item {
  text-align: center;
}

.starter-item table , .mainCourse-item table, .drinks-item table, .deserts-item table{
  margin-top: 15px;
}

.select {
  border: 1px solid black;
  background-color: yellow;
}